
.pill {
	// From Bootstrap
	border-radius: 50rem!important;
	background-color: #bbbbbb;
	display: inline-block;
    padding: .45em .75em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    // white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
