<div class="info">
    <a href="{{ include.url }}" target="_blank"><img src="/images/pdf-icon.svg" style="float:left" class="icon"></a>

    <div>
        <h4><a href="{{ include.url }}" target="_blank">{{ include.title }}</a></h4>

        {{ include.description | markdownify }}
    </div>
</div>