{% assign state = page.name | replace: '.md', '' | default: page.slug %}
{% assign data = site.data.states[state] %}

<div class="responsive-table">
<table class="small-on-mobile" style="width: 100%">
    <tbody>
        <tr>
            <th></th>
            <th colspan="" title="">Trump votes</th>
            <th colspan="" title="">Biden votes</th>
            <th colspan="" title="">Other votes</th>
        </tr>

        {% assign biden_percent_raw = data.biden_percent | replace: '%', '' %}
        {% assign trump_percent_raw = data.trump_percent | replace: '%', '' %}
        {% assign other_votes_percent = 100.0 | minus: biden_percent_raw | minus: trump_percent_raw %}
        {% assign other_votes = data.biden_votes_raw | divided_by: biden_percent_raw | times: other_votes_percent | round %}
        {% assign total_votes = data.biden_votes_raw | plus: data.trump_votes_raw | plus: other_votes %}

        <tr>
            <th>Officially reported results</th>
            <td 
                {% if data.trump_votes_raw > data.biden_votes_raw %}
                    class="red"
                {% endif %}
            >
                <span class="number-format" title="Official vote count, as certified by the state">
                    {{ data.trump_votes_raw }}
                </span>
                <span class="muted" title="Percentage of total reported votes">
                    ({{ data.trump_percent }})
                </span>
            </td>
            <td
                {% if data.trump_votes_raw < data.biden_votes_raw %}
                    class="blue"
                {% endif %}
            >
                <span class="number-format" title="Official vote count, as certified by the state">
                    {{ data.biden_votes_raw }}
                </span>
                <span class="muted" title="Percentage of total reported votes">
                    ({{ data.biden_percent }})
                </span>
            </td>
            <td>
                <span class="number-format" title="Official vote count, as certified by the state">
                    {{ other_votes }}
                </span>
                <span class="muted" title="Percentage of total reported votes">
                    ({{ other_votes_percent }}%)
                </span>
            </td>
        </tr>
        <tr>
            <th title="Estimated number of votes that exceed voter registration trends">Estimate of potential fraud</th>
            <td></td>
            <td>
                <span class="number-format" title="Estimated number of votes that exceed voter registration trends">
                    {{ data.excess_biden_votes_raw }} 
                </span>
                <span class="muted" title="Excess votes as a percentage of total reported votes">
                    ({{ data.excess_biden_votes_raw | times: 100.0 | divided_by: total_votes | round: 1 }}%)
                </span>
            </td>
            <td></td>
        </tr>



        {% assign biden_actual_votes = data.biden_votes_raw | minus: data.excess_biden_votes_raw %}
        {% assign total_actual_votes = data.trump_votes_raw | plus: biden_actual_votes | plus: other_votes %}

        <tr>   
            <th>Estimate of actual result 
            <br><small style="font-weight: normal">(with fraud removed)</small></th>
            <td
                {% if data.trump_votes_raw > biden_actual_votes %}
                    class="red"
                {% endif %}
            >
                <span class="number-format">{{ data.trump_votes_raw }}</span>
            
                <span class="muted">({{ data.trump_votes_raw | times: 100.0 | divided_by: total_actual_votes | round: 1 }}%)</span>
            </td>
            <td title=""
                {% if data.trump_votes_raw < biden_actual_votes %}
                    class="blue"
                {% endif %}
            >
                <span class="number-format">{{ biden_actual_votes }}</span>
            
                <span class="muted">({{ biden_actual_votes | times: 100.0 | divided_by: total_actual_votes | round: 1 }}%)</span>
            </td>
            <td>
                <span class="number-format">{{ other_votes }}</span>
                <span class="muted">({{ other_votes | times: 100.0 | divided_by: total_actual_votes | round: 1 }}%)</span>
            </td>
        </tr>

    </tbody>
</table>
</div>
