<div class="chart" style="width: 250px">
  <canvas id="zuck1"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    new Chart(document.getElementById('zuck1'), {
        type: 'pie',
        data: {
            labels: ['Democrat Counties', 'Republican Counties'],
            datasets: [{
                data: [5939235, 402878],
                backgroundColor: ['rgb(24, 132, 205)', 'rgb(225, 69, 102)'],
                hoverOffset: 5
            }],
        },
        options: {}
    });
</script>