---
layout: base
---

    <div id="content" class="site-content outer">
      <main id="main" class="site-main inner">

        {{ content }}

      </main><!-- .site-main -->
    </div><!-- .site-content -->
